{% if site.social_links.researchgate_username %}
<li class="list-inline-item">
  <a href="https://www.researchgate.net/profile/{{ site.social_links.researchgate_username }}" target="_blank">
    <i class="fab fa-researchgate fa-fw"></i>
  </a>
</li>
{% endif %}

{% if site.social_links.instagram_username %}
<li class="list-inline-item">
  <a href="https://www.instagram.com/{{ site.social_links.instagram_username }}" target="_blank">
    <i class="fab fa-instagram fa-fw"></i>
  </a>
</li>
{% endif %}

{% if site.social_links.github_username %}
<li class="list-inline-item">
  <a href="https://github.com/{{ site.social_links.github_username }}" target="_blank">
    <i class="fab fa-github-alt fa-fw"></i>
  </a>
</li>
{% endif %}

{% if site.social_links.scholar_username %}
<li class="list-inline-item">
  <a href="https://scholar.google.com/citations?user={{ site.social_links.scholar_username }}" target="_blank">
    <i class="fab fa-google-scholar fa-fw"></i>
  </a>
</li>
{% endif %}

{% if site.social_links.orcid_id %}
<li class="list-inline-item">
  <a href="https://orcid.org/{{ site.social_links.orcid_id }}" target="_blank">
    <i class="fab fa-orcid fa-fw"></i>
  </a>
</li>
{% endif %}
