---
layout: default
---

{% include site-header.html %}

<div class="main-wrapper">

    <article class="project-post">
        <div class="container">
            <header class="project-post-header">
                <a href="{{ site.baseurl }}/gallery/" class="back-link">← Back to Gallery</a>
                <div class="year-badge">{{ page.date | date: "%Y" }}</div>
                <h1>{{ page.title }}</h1>
            </header>

            <div class="project-content">
                {{ content }}
            </div>
        </div>
    </article>


    {% include site-footer.html %}

</div>


